name: "Markdown: Lint"
on:
  workflow_call: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: markdownlint
        uses: nosborn/github-action-markdown-cli@v3
        with:
          files: .
          ignore_files: CHANGELOG.md
